{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="/contact/" onclick="_gaq.push(['_trackEvent', 'contact', 'contact-us']);">Contact Us</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="/img/devops-48x48.png" width="48">
        </figure>
        <h3>DevOps</h3>
        <p>Build Continuous Integration and Deployment (CI/CD) pipeline. Automation and Configuration Management. Amazon AWS Cloud solutions. Migration to AWS Cloud</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="/img/data-analytics-48x48.png" width="48">
        </figure>
        <h3>Data Analytics</h3>
        <p>Data Analysis consulting for SMBs. Business Intelligence and Insights from your existing data. Data Analytics provide SMBs with a clear picture of their current business situation and highlight what decisions need to be made to become more profitable</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="/img/proof-of-concept-48x48.png" width="48">
        </figure>
        <h3>Proof-Of-Concept</h3>
        <p>We can help develop proof-of-concepts for startups, emerging businesses and entrepreneurs. Bring an idea to life by collaborating with us</p>
      </div>
    </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
